<template>
  <ul class="poster__calendar-cell"
      :class="value.length > 1 ? 'multiple' : 'single'"
  >
    <li v-for="(event, index) in value"
        :key="index"
        :class="`cell_${index} ${event.is_big ? 'big' : 'small'}`"
    >
      <p class="poster__calendar-cell__title">{{event.name | truncate}}</p>
      <p class="poster__calendar-cell__place">Парк: {{event.park | truncate}}</p>
    </li>
  </ul>
</template>

<script>
  export default {
    name: 'PosterCalendarCell',
    props: {
      value: {
        type: Array,
        required: true
      }
    },
    filters: {
      /***
       * @desc Фильтр "Усечение"
       * @param {String} text - значение
       * @param {Number} length - длина, после которой необходимо сократить
       * @param {String} символ окончания строки
       * @returns {String}
       */
      truncate(text, length, clamp) {
        text = text || '';
        clamp = clamp || '...';
        length = length || 30;
        
        if (text.length <= length) return text;
        
        let tcText = text.slice(0, length - clamp.length);
        let last = tcText.length - 1;
        
        while (last > 0 && tcText[last] !== ' ' && tcText[last] !== clamp[0]) last -= 1;
        
        last = last || length - clamp.length;
        tcText =  tcText.slice(0, last);
        return tcText + clamp;
      }
    }
  }
</script>
