<template>
  <div class="poster__title">
    <div class="poster__title-main">
      <img src="../../assets/img/ballons.svg" alt="Ballons" />
      <h1>Афиша</h1>
      <img src="../../assets/img/ballons.svg" alt="Ballons" />
    </div>
    <p class="poster__title-sub">Следи за расписанием наших мероприятий, мы ждем тебя!</p>
  </div>
</template>

<script>
  export default {
    name: 'PosterHeader'
  }
</script>