<template>
  <div class="poster__calendar">
    
    <button class="poster__calendar-nav prev"
            @click="selectDate('prev-month')" />
    
    <Calendar ref="calendar">
      <div slot="dateCell" slot-scope="{data}">
        <span class="poster__calendar-cell__day">{{getNumberOfDay(data.day)}}</span>
        <Cell :value="getEventsInDate(data.day)" />
      </div>
    </Calendar>
    
    <button class="poster__calendar-nav next"
            @click="selectDate('next-month')" />
    
    
    <img class="poster__calendar-bg dragon"
         src="../../assets/img/dragon.svg"
         alt="Dragon"
    />
    <img class="poster__calendar-bg man-body"
         src="../../assets/img/poster-man.svg"
         alt="Man"
    />
    <img class="poster__calendar-bg man-hand"
         src="../../assets/img/poster-man-hand.svg"
         alt="Man"
    />
    <img class="poster__calendar-bg women"
         src="../../assets/img/poster-women.svg"
         alt="Women"
    />
  </div>
</template>

<script>
  import { Calendar } from 'element-ui';
  import PosterCalendarCell from './PosterCalendarCell';
  
  export default {
    name: 'PosterCalendar',
    components: {
      Calendar, 'Cell': PosterCalendarCell
    },
    props: {
      events: {
        type: Array,
        required: true
      }
    },
    mounted() {
      this.transformSourceHeader();
    },
    methods: {
      /**
       * @desc Навигация по месяцам
       * @param {String} kind - следующий/предыдущий enum: ['prev-month', 'next-month']
       */
      selectDate(kind) {
        this.$refs.calendar.selectDate(kind);
        this.transformSourceHeader();
      },
  
      /**
       * @desc Преобразование исходного хедера календаря Element-UI в
       * необходимый формат, согласно макету
       */
      transformSourceHeader() {
        const sourceHeader = document.querySelector('.el-calendar__header'),
              sourceValue = this.$refs.calendar.i18nDate,
              sourceValueArr = sourceValue.split('  ');
        
        sourceHeader.innerHTML = `<h3 class="poster__calendar-title">${sourceValueArr[1]}, ${sourceValueArr[0]}<h3/>`;
      },
  
      /**
       * @desc Получение списка мероприятия на текущий момент
       * @param {Date} date - дата
       * @return {Array}
       */
      getEventsInDate(date) {
        return this.events.filter(el => el.date === date);
      },
      
      /**
       * @desc Получение числа дня из Element-UI
       * @param {Date} date - дата
       * @return {String}
       */
      getNumberOfDay(date) {
        const day = date.split('-')[2];
        return day.startsWith('0') ? day.split('')[1] : day;
      }
    }
  }
</script>
