<template>
  <div class="poster__info">
    <div class="poster__info-small">
      <p class="mark">Название </p>
      <p> - мероприятие</p>
    </div>
    <div class="poster__info-big">
      <p class="mark">Название </p>
      <p> - масштабное мероприятие</p>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'PosterCalendarInfo'
  }
</script>