<template>
  <div v-if="contentLoaded" class="poster">
    <PosterHeader />
    <PosterCalendar :events="events" />
    <PosterCalendarInfo />
  </div>
</template>

<script>
  import PosterHeader from './Components/PosterHeader';
  import PosterCalendar from './Components/PosterCalendar';
  import PosterCalendarInfo from './Components/PosterCalendarInfo';
  import events from '../../db';
  
  export default {
    name: 'Poster',
    components: {
      PosterHeader, PosterCalendar, PosterCalendarInfo
    },
    async mounted() {
      await this.getEvents();
      this.contentLoaded = true;
    },
    data() {
      return {
        events: [],
        contentLoaded: false
      };
    },
    methods: {
      /**
       * @desc Получение списка мероприятий (здесь должен быть GET-запрос)
       */
      getEvents() {
        this.events = events;
      }
    }
  }
</script>
