<template>
  <div id="app" class="layout">
    <Poster />
  </div>
</template>

<script>
import Poster from './Poster/Poster';

export default {
  name: 'App',
  components: {
    Poster
  }
}
</script>

<style lang="scss">
  @import './index.scss';
</style>
