$color_black: #303133;
$color_purple: #EE3A85;

body {
  font-family: MuseoRegular, Arial, Helvatica, sans-serif;
  color: $color_black;

  background: url('~@/assets/img/star-purple.svg') 5% 38% no-repeat fixed,
              url('~@/assets/img/star-yellow.svg') 95% 55% no-repeat fixed;
}

.layout {
  width: 100%;
  margin: 0 auto;
  max-width: 1250px;
  min-width: 1250px;
  padding: 40px 0;
}

.poster {
  &__title {
    margin-bottom: 50px;
    text-align: center;
    &-main {
      width: 420px;
      margin: 0 auto 5px auto;
      display: flex;
      align-items: center;
      justify-content: space-between;

      font-size: 30px;
      font-family: ShadowRegular, Arial, Helvetica, sans-serif;
      color: $color_purple;

      img:last-child {
        transform: scaleX(-1);
      }
    }
    &-sub {
      font-size: 18px;
      font-family: MuseoLight, Arial, Helvetica, sans-serif;
    }
  }

  &__calendar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;

    &-title {
      width: 100%;
      text-align: center;
      font-size: 32px;
      line-height: 32px;
    }

    &-nav {
      flex: 0 0 43px;
      width: 43px;
      height: 43px;
      background-color: transparent;
      border: none;
      background-image: url('~@/assets/img/twice-arrow_blue.svg');

      &.next {
        transform: rotate(180deg);
      }
    }

    &-bg {
      position: absolute;
      pointer-events: none;

      &.dragon {
        top: -1%;
        right: 13.5%;
        z-index: 5;
      }

      &.man-body {
        width: 160px;
        bottom: 0;
        right: -1.2%;
        z-index: 0;
      }

      &.man-hand {
        bottom: 250px;
        right: 7.5%;
        z-index: 5;
      }

      &.women {
        left: -1.2%;
        bottom: 0;
        width: 130px;
      }
    }

    // переопределение стилей el-calendar
    .el-calendar {
      width: 1050px;
      margin-left: 20px;
      margin-right: 20px;
      z-index: 1;
      &__header {
        margin-bottom: 15px;
        border-bottom: none;
        padding: 0;
      }
      &__body {
        padding: 0;
      }
      &-table {
        height: 100%;
        thead th {
          font-size: 24px;
          font-weight: bold;
          color: $color_black;
        }

        tbody {
          box-shadow: 0px 4px 24px rgba(219, 219, 219, 0.25);
        }

        &:not(.is-range) td.next, &:not(.is-range) td.prev {
          color: #CCCCCC;
        }

        td {
          position: relative;
          height: 100%;
          vertical-align: middle;
          overflow: auto;
          &.is-today {
            color: $color_purple;
            font-family: MuseoBold, Arial, Helvetica, sans-serif;
          }
          &.is-selected {
            background-color: transparent;
          }
          & > .el-calendar-day,
          & > .el-calendar-day > div,
          & > .el-calendar-day > div > ul {
            height: 100%;
          }
        }

        .el-calendar-day {
          padding: 0;
          height: auto;
          &:hover { background-color: transparent; }
          .poster__calendar-cell {
            min-height: 100px;
            color: #003045;
            text-align: center;
            &__title {
              font-size: 13px;
              line-height: 13px;
              font-family: ShadowRegular, Arial, Helvetica, sans-serif;
            }
            &__place {
              font-size: 12px;
              font-family: MuseoRegular, Arial, Helvetica, sans-serif;
            }
            &__day {
              position: absolute;
              top: 10px;
              left: 12px;
              font-size: 18px;
            }

            & > li {
              background-position: top left;
              background-size: contain;
              box-sizing: border-box;
              &.big {
                background-image: url('~@/assets/img/poster-big-cell-background.svg');
                background-color: #FFCAF3;
              }
              &.small {
                background-image: url('~@/assets/img/poster-small-cell-background.svg');
                background-color: #A7E4FF;
              }
            }

            &.multiple {
              padding: 8px;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              & > li {
                width: 100%;
                border-radius: 12px;
                padding: 12px 6px;
                &:not(:last-child) {
                  margin-bottom: 5px;
                }
                &:first-child {
                  padding-top: 25px;
                }
              }
            }

            &.single {
              display: flex;
              align-items: center;
              justify-content: center;
              & > li {
                width: 100%;
                padding: 25px 8px 8px 8px;
                align-self: stretch;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
              }
            }
          }
        }
      }
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    & > div {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .mark {
        padding: 8px 50px 8px 8px;
        margin-right: 8px;
        border-radius: 12px;
      }
    }

    &-small {
      .mark {
        background-color: #A7E4FF;
      }
    }
    &-big {
      .mark {
        background-color: #FFCAF3;
      }
    }
  }
}
