@font-face {
  src: url('assets/fonts/MuseoSansCyrl_0.otf');
  font-family: MuseoLight;
}
@font-face {
  src: url('assets/fonts/Museo_Sans_Cyrillic.otf');
  font-family: MuseoRegular;
}
@font-face {
  src: url('assets/fonts/MuseoSansCyrl_2.otf');
  font-family: MuseoBold;
}
@font-face {
  src: url('assets/fonts/shadow_regular.ttf');
  font-family: ShadowRegular;
}
