body {
  box-sizing: border-box;
}
p, ul, li, h1, h2, h3, h4, h5, h6 {margin: 0; padding: 0;}
li {list-style-type: none;}
a {color: inherit;}
img {max-width: 100%;}
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {border: none;}
a { text-decoration: none; }
a, a:hover, a:active, a:visited, a:focus {outline: none;}
input:hover, input:focus, input:active, textarea:focus {outline: none;}
button:focus {outline: none; border: 1px solid inherit;}
select:focus {outline: none;}
div { box-sizing: border-box; }
button { cursor: pointer; }
